form {
    border: orange 0.5px dashed;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 25%;
    /* height: 250px; */
    margin: 5px auto;
    padding: 10px;
}

input , select  {
    width: 75%;
    height: 25px;
    align-self: center;
    margin: 5px;
}

select {
    height: 32px;
    width: 78%;
}

label{
    margin: 2px;
}

.Form-submit {
    cursor: pointer;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    margin-top: 5px;
}

textarea{
    height: 100px;
}

.Item-underprogress{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}

.Item-underprogress > button {
    background-color:teal;
    cursor: pointer;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    font-size: large;
}