.Item {
    width: 75%;
    margin: 10px auto;
    border: deepskyblue 1px dotted;
}

.Item-title{
    display: flex;
    align-content: center;
    width: 80%;
    margin: 10px auto;
}

.Item-text {
    font-size: large;
    font-weight: bold;
    border-bottom: 2px yellowgreen solid;
    padding-bottom: 5px;
    width: 33%;
}

.Item-details {
    font-size: 15px;
    padding: 5px;
    width: 33%;
    font-weight: bold;
}

.Item-delete-btn {
    width: 33%;
    text-align: center;
}

.Item-delete-btn>button {
    margin-top: 20px;
    width: 100px;
    height: 35px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button {
    margin: 2px;
    width: auto;
    height: 25px;
    align-self: center;
}

.fa-arrow-circle-down {
    color: green;
    font-size: 25px;
    cursor: pointer;
}

.hide{
    display: none;
}

.Item-body{
    border: orange 1px solid;
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
}

.Item-edit-form{
    width: 75%;
}

.Item-not-done-btn{
    background-color:yellow;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.Item-task-text {
    font-size: 15px;
    font-weight: bolder;
}

.Item-task-p {
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 10px;
}